# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

/enviroments/prod/.terraform/

/enviroments/prod/.terraform.tfstate
/enviroments/prod/.terraform.tfstate.backup
/enviroments/prod/crash.log
/enviroments/prod/override.tf
/enviroments/prod/override.tf.json
/enviroments/prod/_override.tf
/enviroments/prod/_override.tf.json
/enviroments/staging/.terraform.tfstate
/enviroments/staging/.terraform.tfstate.backup
/enviroments/staging/crash.log
/enviroments/staging/override.tf
/enviroments/staging/override.tf.json
/enviroments/staging/_override.tf
/enviroments/staging/_override.tf.json
/enviroments/dev/.terraform.tfstate
/enviroments/dev/.terraform.tfstate.backup
/enviroments/dev/crash.log
/enviroments/dev/override.tf
/enviroments/dev/override.tf.json

.idea
